.lower-bounds{
  display:grid;
  margin-top: 20px;
  grid-template-columns: 300px 1fr;
}

.all-content{
  margin-left: 20px;
}

.results .stats{
  display: grid;
  grid-template-columns: 100%;
}
.histogram{
  display: block;
}

.stat-elems{
  display: grid;
  grid-template-columns: 200px 100px;
}

.bars{
  margin-top: 7px;
  margin-bottom: 5px;
  width: 30px;
  height: 40px;
  background-color: lightblue;
}