.lower-bounds{
  display:inline-block;
}

.all-content{
  display: grid;
  margin-top: 20px;
  grid-template-columns: 50% 50%;
}

.results .stats{
  display: grid;
  grid-template-columns: 100%;
}
.histogram{
  display: block;
}

.stat-elems{
  display: grid;
  grid-template-columns: 200px 100px;
}